<!DOCTYPE html>

<head>
  <title>BMI Calculator</title>
  <link rel='stylesheet' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
  <link rel="stylesheet" href="bmi.css">
</head>

<body>

  <body ng-app="bmiApp">
  <div class="container">
    <div class="jumbotron" ng-controller="headerText" width="800">
      <h2 class="main-header">{{mainHeader}}</h2>
      <hr>
      <br>

      <form ng-controller="mainCtrl">
        <input type="radio" id="gender" name="gender" value="female" checked> Female<br>
        <input type="radio" id="gender" name="gender" value="male"> Male<br>
        <br>
        <h3 class="us-weight">Weight (lbs):</h3> <input ng-adjust="computeBMI()" ng-model="stats.weightUS" type="number" id="weightUS" value=""></input>
        <br>
        <br>
        <h3>Height (in):</h3> <input ng-adjust="computeBMI()" ng-model="stats.heightUS" type="number" id="heightUS" value=""></input>
        <br>
        <br>
        <h3>Age:  </h3><input type="number" id="age" value=""><br>
        <br>
        <div>
          <td style="color: #3D366F; font-size:13px;">Activeness:</td>
            <td>
              <select style='width:100px;' name="activity" id="activity">
                  <option value="1">Sedentary</option>
                  <option value="2">Light Active</option>
                  <option value="3">Moderately Active</option>
                  <option value="4">Very Active</option>
                  <option value="5">Extra Active</option>
              </select>
            </td>
        </div>
        <br>
        <b>Your BMI is:</b>
        <br>
        <h3 class="result">{{stats.BMI | number: 0}}</h3>
        <br>
      </form>
        <br>
      <b>Your BMR is:</b>
      <p id="caloriesneeded">(press Result)</p>
      <button type="button"
      onclick="">
      Result</button>
    </div>

      <div class="bmi-image" onclick="toggle_visibility('')">
        <img src="https://bmicalculator.mes.fm/img/bmi-chart.png" alt="bmi index" width="800">
      </div>
  </div>  

</body>

<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular.min.js'></script>
<script  src="bmi.js"></script>

</body>
</html>