
body {
        background-image: url("../images/background.png");
        display: flex;
        min-height: 100vh;
        flex-direction: column;
      }
    
.main-content {
        flex: 1 0 auto;
      }

.footer {
        /* position: fixed; */
        left: 0;
        bottom: 0;
        width: 100%;        
    }

.card {
        margin-left: auto;
        margin-right: auto;
        text-align: center;

}

.welcome {
        height: 250px;
        margin-top: 30px;
}

.logo {
        width: 160px;
        height: auto;
}

/* .brand-logo {
        font-family: 'Black Han Sans', sans-serif;
        font-size: 40px;
} */

.content-white {
        background: transparent;
}

.content-white {
        background-color: #f9f9f9;
}

.page-footer {
        background-color: #282828;
}

.nav-wrapper {
        height: 100px;
	background: linear-gradient(-45deg, #23A6D5, #23D5AB, #23A6D5, #23D5AB);
	background-size: 100% 100%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}


