.recipe-list {
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    align-content: space-between;
}

.card {
    margin: 10px;
}

img {
    width: 30%;
    height: 30%;
}

h3 {
   text-align: center;
}

p {
    text-align: center;
}

.card-title {
    font-weight: bold!important;
    color: black;
    -webkit-text-fill-color: rgb(146, 241, 226); /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }