.recipe-list {
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    align-content: space-between;
}

.card {
    margin: 10px;
}

img {
    width: 30%;
    height: 30%;
}

h3 {
   text-align: center;
}